
<div>
<h1>Login</h1>
<form #my_form="ngForm">
 
       <img src="assets/images/images.png">
   
    <input #email_input="ngModel" type="email" required email placeholder="email" name="email" [(ngModel)]="credentials.email">
    <span *ngIf="email_input.invalid && email_input.touched &&email_input.errors?.required " >Missing Email</span>
    <br><br>
  
    <input #password_input="ngModel" type="password" 
    required placeholder="password" name="password" [(ngModel)]="credentials.password">
    <span *ngIf="password_input.invalid && password_input.touched && password_input.errors?.required">Missing Password</span>
    <br><br> 
    <label for="type">Choose Type</label>

    <select #type_input="ngModel" name="type" required [(ngModel)]="credentials.type">
        <option selected disabled>Choose Type</option>
        <option>Admin</option>
        <option>Customer</option>
        <option>Company</option>
    </select>
    <span *ngIf="type_input.invalid && type_input.touched"> Please choose Type</span>
    <br><br>
    <button mat-raised-button color="warn"(click)="loginToServer()">Login</button>

    

    <!-- <hr>
    <p>{{"{"+"email:"+ credentials.email +","+"password:"+ credentials.password +","+ "type:"+credentials.type +"}"}}</p> -->
</form>
</div>


