<h1>Coupon</h1>

<div *ngIf="coupons">
    <table>
        <tr>
            <th>Id</th>
            <th>Company_id</th>
            <th>Category_id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start_date</th>
            <th>End_date</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>


        </tr>
        <tr *ngFor="let c of coupons">
            <td>{{c.id}}</td>
            <td>{{c.company_id}}</td>
            <td>{{c.category_id}}</td>
            <td>{{c.title}}</td>
            <td>{{c.description}}</td>
            <td>{{c.start_date}}</td>
            <td>{{c.end_date}}</td>
            <td>{{c.amount}}</td>
            <td>{{c.price}}</td>
            <td>{{c.image}}</td>

            <td>
                <mat-icon fxFlex="10%" [routerLink]="['/company-details/'+c.id]" routerLinkActive="router-link-active">
                    mode_edit</mat-icon>
                <mat-icon fxFlex="10%" (click)="deleteCoupon(c.id)">delete</mat-icon>
        </tr>
    </table>
    <br>
    <button mat-raised-button color="accent" [routerLink]="['/coupon-details/'+0]"
        routerLinkActive="router-link-active">Add Coupon</button>
        <span class="example-spacer"></span>
  
        <select #category (change)="filterCoupon(category.value)">
            <option selected disabled>Choose Category:</option>
            <option value="food">Food</option>
            <option value="vacation">Vacation</option>
            <option value="electricity">Electricity</option>
            <option value="restaurant">Restaurant</option>
            <option value="all">All Coupons</option>
        </select>
    
        <span class="example-spacer"></span>
        <input type="text" placeholder= price #maxPrice (change)="filterCouponMaxPrice(maxPrice.value)">
        <span class="example-spacer"></span>
        
        

</div>