
 <div>
    <h1>Customer</h1>
    <form #my_form="ngForm">
        <input name="id" #customer_id *ngIf="type==='Update'" [disabled]="type==='Update'" type="number" placeholder="id"
            [(ngModel)]="customer.id">
        <br>
        <input name="firstName" #customer_first_name="ngModel"  type="text"
            placeholder="firstName" [(ngModel)]="customer.firstName">
        <span *ngIf="customer_first_name.errors?.required && customer_first_name.touched">First-name missing</span>

        <br>
        <input name="lastName" #customer_last_name="ngModel"  type="text"
            placeholder="lastName" [(ngModel)]="customer.lastName">

            <span *ngIf="customer_first_name.errors?.required && customer_first_name.touched">Last-name missing</span>
        
        <br>
        <input name="email" #customer_email="ngModel" required minlength=2 pattern="^[A-Z].*" type="text"
            placeholder="email" [(ngModel)]="customer.email">
        <span *ngIf="customer_email.errors?.required &&customer_email.touched">Email is missing</span>
        <br>
        <input name="password" #customer_password="ngModel" required minlength=8 pattern="^[A-Z].*" type="text"
            placeholder="password" [(ngModel)]="customer.password">
        <span *ngIf="customer_password.errors?.required && customer_password.touched">Minimal 8 characters is
            required!</span>
        <br>
        
 <button mat-raised-button color="primary" (click)="addOrUpdateCustomer()">Submit</button>
 <button mat-raised-button color="primary" (click)="goBack()">Back</button>
 
    </form>
</div> 